<footer class="site-footer">
	<section class="container col-three">
		<div class="footer--social">
			<a class="socials" href="https://www.linkedin.com/in/michal-kaso-7981a0139/" target="_blank" aria-label="LinkedIn" rel="noopener"><span class="icon-social">LinkedIn</span></a>
			<a class="socials" href="https://github.com/MichalKaso" target="_blank" aria-label="GitHub" rel="noopener"><span class="icon-social" rel="noopener">GitHub</span></a>
			<a class="socials" href="https://www.instagram.com/mike_kaso/?hl=en" target="_blank" aria-label="Instagram" rel="noopener"><span class="icon-social">Instagram</span></a>
		</div>
		<div class="footer--menu">
			<div class="sitemap">Sitemap:</div>
			<ul class="menu-item">
				<li><a href="/">Home</a></li>
				<li><a href="/blog/">Blog</a></li>
				<li><a href="/about/">About</a></li>
			</ul>
		</div>
		<div class="copyright">
			<p class="no-top">Mike's 2Cents! © All Rights Reserved 2022 | Created by: Michal Kaso</p>
		</div>
	</section>
</footer>