{%- if tag == 'home-page' -%}
<title>Mike's 2Cents!</title>
<meta name="description" content="Overview of the Blog.">
{%- elif tag == 'about-page' -%}
<title> About</title>
<meta name="description" content="History of the Blog.">
{%- endif -%}

