 <!DOCTYPE html>
 <html lang="en">
 <head>
     <title>{{ title }}</title>
 </head>
 <body>
     <header>
         <h1>{{ title }}</h1>
     </header>
     <main>
         {{ content | safe }}
     </main>
     <footer>
         <p>&copy; 2022 Designed by: Michal Kaso </p>
     </footer>
 </body>
 </html>